<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<title>Budget tool web application</title>
		
		<link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="webjars/font-awesome/5.8.1/css/all.css" />
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body class="container">
		<span th:include="navbar :: fragment" th:remove="tag"></span>
		
		<span th:include="footer :: fragment" th:remove="tag"></span>
				
		<script type="text/javascript" src="webjars/jquery/3.4.0/jquery.min.js"></script>
		<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>